<html>
	<head>
		<title>Markus Doppler | Hamburger Snippet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
    <link href="../../snippets.css" rel="stylesheet" />
    <link href="hamburger.css" rel="stylesheet" />
		<link href="../../assets/peacock-favicon.png" rel="icon">
	</head>
	<body>
    <div class="hero">
      <header class="header-bar">
				<a href="https://markusdoppler.github.io/Snippets" class="logo">
					<img src="../../assets/peacock-100.png" class="logo">
					<span class="logo-text">Logo</span>
				</a>
        <nav>
          <ul class="nav-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <div class="hamburger-component">
          <input type="checkbox" id="toggle-hamburger">
          <label class="hamburger" for="toggle-hamburger">
            <div class="hamburger-top"></div>
            <div class="hamburger-bean-pattie"></div>
            <div class="hamburger-bottom"></div>
          </label>
          <div class="hamburger-nav-view">
            <div class="hamburger-nav-wrapper">
              <nav class="hamburger-nav-items">
                <a href="#">About</a>
                <a href="#">Projects</a>
                <a href="#">Contact</a>
              </nav>
            </div>
          </div>
        </div>
      </header>
    </div>
	</body>
</html>
