<html>
	<head>
		<title>Markus Doppler | Colour Tool</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
        <link href="../../assets/peacock-favicon.png" rel="icon">
        <link href="../../snippets.css" rel="stylesheet" />
        <link href="colours.css" rel="stylesheet" />
	</head>
	<body>
		<section id="colour-board">
			<colour-set></colour-set>

			<h1>Colour Catalogue</h1>

			<colour-mode-selector @selected="changeMode"></colour-mode-selector>

			<h2>Software Colours</h2>
			<div class="colour-strip">
				<div class="colours">
					<colour-item :mode="mode" colour-code="#edf1f2" @copy="copyColourCode">software-1</colour-item>
					<colour-item :mode="mode" colour-code="#b7c3d7" @copy="copyColourCode">secondary</colour-item>
					<colour-item :mode="mode" colour-code="#93a3bd" @copy="copyColourCode">primary</colour-item>
					<colour-item :mode="mode" colour-code="#7a92b8" @copy="copyColourCode">primary</colour-item>
					<colour-item :mode="mode" colour-code="#05061f" @copy="copyColourCode">software-2</colour-item>
					<colour-item :mode="mode" colour-code="#3c8772" @copy="copyColourCode">vue</colour-item>
				</div>
			</div>


			<h2>Forest Greens</h2>
			<div class="colour-strip">
				<div class="colours">
					<colour-item :mode="mode" colour-code="#e2e8de" @copy="copyColourCode">forest-1</colour-item>
					<colour-item :mode="mode" colour-code="#7d8f3d" @copy="copyColourCode">primary</colour-item>
					<colour-item :mode="mode" colour-code="#737154" @copy="copyColourCode">tertiary</colour-item>
					<colour-item :mode="mode" colour-code="#697368" @copy="copyColourCode">forest-2</colour-item>
					<colour-item :mode="mode" colour-code="#5D6D63" @copy="copyColourCode">forest-4</colour-item>
					<colour-item :mode="mode" colour-code="#515837" @copy="copyColourCode">secondary</colour-item>
					<colour-item :mode="mode" colour-code="#4e5440" @copy="copyColourCode">forest-3</colour-item>
					<colour-item :mode="mode" colour-code="#1c240f" @copy="copyColourCode">primary</colour-item>
				</div>
			</div>


			<h2>Vegetable Colours</h2>
			<div class="colour-strip">
				<div class="colours">
					<colour-item :mode="mode" colour-code="#ab3812" @copy="copyColourCode">primary</colour-item>
					<colour-item :mode="mode" colour-code="#cf3a26" @copy="copyColourCode">secondary</colour-item>
					<colour-item :mode="mode" colour-code="#8c313c" @copy="copyColourCode">primary</colour-item>
					<colour-item :mode="mode" colour-code="#719e51" @copy="copyColourCode">secondary</colour-item>
					<colour-item :mode="mode" colour-code="#e3863b" @copy="copyColourCode">tertiary</colour-item>
					<colour-item :mode="mode" colour-code="#a98823" @copy="copyColourCode">primary</colour-item>
				</div>
			</div>


			<h2>Material Colours</h2>
			<div class="colour-strip">
				<div class="colours">
					<colour-item :mode="mode" colour-code="#ecf0f1" @copy="copyColourCode">blueish white</colour-item>
					<colour-item :mode="mode" colour-code="#f4e04d" @copy="copyColourCode">yellow</colour-item>
					<colour-item :mode="mode" colour-code="#4FC08D" @copy="copyColourCode">easter green</colour-item>
					<colour-item :mode="mode" colour-code="rgba(79,192,141,0.5)" @copy="copyColourCode">easter green alpha</colour-item>
					<colour-item :mode="mode" colour-code="#121314" @copy="copyColourCode">off-black</colour-item>
					<colour-item :mode="mode" colour-code="#050620" @copy="copyColourCode">dark purple</colour-item>
				</div>
			</div>

			<h2>Forest Colours</h2>
			<div class="colour-strip">
				<div class="colours">
					<colour-item :mode="mode" colour-code="#619765" @copy="copyColourCode">green 1</colour-item>
					<colour-item :mode="mode" colour-code="#558e47" @copy="copyColourCode">green 2</colour-item>
					<colour-item :mode="mode" colour-code="#1b4b2c" @copy="copyColourCode">green 3</colour-item>
					<colour-item :mode="mode" colour-code="#9c7764" @copy="copyColourCode">brown 1</colour-item>
					<colour-item :mode="mode" colour-code="#835e4b" @copy="copyColourCode">brown 2</colour-item>
					<colour-item :mode="mode" colour-code="#64493b" @copy="copyColourCode">brown 3</colour-item>
					<colour-item :mode="mode" colour-code="#ffd887" @copy="copyColourCode">yellow 1</colour-item>
					<colour-item :mode="mode" colour-code="#f1b735" @copy="copyColourCode">yellow 2</colour-item>
					<colour-item :mode="mode" colour-code="#ffdeb7" @copy="copyColourCode">rose</colour-item>
					<colour-item :mode="mode" colour-code="#903428" @copy="copyColourCode">dark red</colour-item>
				</div>
			</div>

			<h2>Grayscale Colours</h2>
			<div class="colour-strip">
				<div class="colours">
					<colour-item :mode="mode" colour-code="#fafafa" @copy="copyColourCode">gray 0</colour-item>
					<colour-item :mode="mode" colour-code="#eaeaea" @copy="copyColourCode">gray 1</colour-item>
					<colour-item :mode="mode" colour-code="#aaaaaa" @copy="copyColourCode">gray 2</colour-item>
					<colour-item :mode="mode" colour-code="#818181" @copy="copyColourCode">gray 3</colour-item>
					<colour-item :mode="mode" colour-code="#595959" @copy="copyColourCode">gray 4</colour-item>
				</div>
			</div>

			<h2>Flower Colours</h2>
			<div class="colour-strip">
				<div class="colours">
					<colour-item :mode="mode" colour-code="#c199bb" @copy="copyColourCode">fuchsia</colour-item>
				</div>
			</div>

			<h2>Leaf Colours</h2>
			<div class="colour-strip">
				<div class="colours">
					<colour-item :mode="mode" colour-code="#C1B894" @copy="copyColourCode">dark beige</colour-item>
					<colour-item :mode="mode" colour-code="#E2DDC6" @copy="copyColourCode">light beige</colour-item>
					<colour-item :mode="mode" colour-code="#A93712" @copy="copyColourCode">brick red</colour-item>
					<colour-item :mode="mode" colour-code="#243D1E" @copy="copyColourCode">dark green</colour-item>
					<colour-item :mode="mode" colour-code="#3D3030" @copy="copyColourCode">dark brown</colour-item>
				</div>
			</div>
		</section>

		<script type="text/x-template" id="colour-set-template">
			<div class="colour-set">
				<div class="colour-set-header">
					<h1>Quick Colours</h1>
					<button @click="saveColours">Save</button>
				</div>
				<ul>
					<li v-for="(colour, colourIndex) in colours" class="colour-set-item" :style="{backgroundColor: colour.hex}">
						<input type="text" placeholder="#000000" v-model="colour.hex">
						<button class="delete" @click="deleteColour(colourIndex)">&times;</button>
					</li>
					<li class="colour-set-item">
						<button class="add" @click="addColour">+</button>
					</li>
				</ul>
			</div>
		</script>

		<script type="text/x-template" id="colour-mode-selector-template">
			<div class="colour-mode-toggle">
				<h3>Copy colour values to clipboard by clicking on any colour.</h3>
				<div class="mode-option" v-for="m in modes">
					<input type="radio" name="mode" :checked="m == currentMode" :id="m" @click="selectMode(m)">
					<label class="mode-label" :for="m">{{m.toUpperCase()}}</label>
				</div>
			</div>
		</script>

		<script type="text/x-template" id="colour-item-template">
			<div class="colour" :style="colourStyle" @click="select">
				<div class="colour-opacity" v-if="opacity < 1.0">{{opacity}}</div>
				<span class="colour-value">{{hexCode}}</span>
				<span class="colour-description"><slot></slot></span>
			</div>
		</script>

		<script src="../../assets/vue.js"></script>
		<script src="colours.js" type="text/javascript"></script>
	</body>
</html>
