<html>
	<head>
		<title>Markus Doppler | Star Rating Snippet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
    <link href="../../snippets.css" rel="stylesheet" />
    <link href="snippet.css" rel="stylesheet" />
		<link href="../../assets/peacock-favicon.png" rel="icon">
	</head>
	<body class="snippet">
		<h1>Star Rating</h1>

    <div class="star-rating" data-rating="1" role="rater">
      <span class="star" data-value="1">&#9733;</span>
      <span class="star" data-value="2">&#9733;</span>
      <span class="star" data-value="3">&#9733;</span>
      <span class="star" data-value="4">&#9733;</span>
      <span class="star" data-value="5">&#9733;</span>
    </div>

		<script src="snippet.js" type="module"></script>
	</body>
</html>
