li {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: #050620;
  color: #ecf0f1;
}

/****************************************************
                        LINKS
*****************************************************/

/*   Tilted Link    */
.tilted-link {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.tilted-link:hover {
  color: black;
}
.tilted-link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #77AF69;
  z-index: -1;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  transition: all 0.3s ease-out;
}
.tilted-link:hover:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: calc(100% + 0.4rem);
  left: -0.2rem;
  height: 100%;
  bottom: -1px;
}


/*   Underline Link    */
.underline-link {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.underline-link:hover {
  color: black;
}
.underline-link:after {
  content: "";
  position: absolute;
  left: -0.2rem;
  bottom: -4px;
  width: 0;
  height: 6px;
  border-radius: 3px;
  background-color: #77AF69;
  z-index: -1;
  transition: all 0.3s ease-out;
}
.underline-link:hover:after {
  width: calc(100% + 0.4rem);
}


/*   Arrow Link    */
.arrow-link {
  color: #77AF69;
  text-decoration: none;
  position: relative;
}
.arrow-link:hover {
  color: #77AF69;
}
.arrow-link:after {
  content: "\276F";
  content: "\27A4";
  content: "\2771";
  content: "\25B6";
  color: #77AF69;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  /* background-color: rgba(0,0,0,0.15); */
  transition: all 0.3s ease-out;
  opacity: 0;
}
.arrow-link:hover:after {
  -webkit-transform: translateX(1em);
          transform: translateX(1em);
  opacity: 1;
}


/*   Rectangle Link    */
.rectangle-link {
  color: black;
  text-decoration: none;
  position: relative;
}
.rectangle-link:hover {
  color: black;
}
.rectangle-link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -5px;
  height: 2em;
  width: 2em;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background-color: rgba(0,0,0,0.15);
  transition: all 0.3s ease-out;
}
.rectangle-link:hover:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);

}


/****************************************************
                        BUTTONS
*****************************************************/

/*   Outline Button    */
.outline-button {
  color: black;
  padding: 0.3em 0.5em;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.outline-button:hover {
  background-color: #77AF69;
  border: 1px solid #77AF69;
  color: black;
}

/*   Outline Button Light    */
.outline-button-light {
  color: white;
  padding: 0.3em 0.5em;
  border: 1px solid white;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.outline-button-light:hover {
  color: white;
  background-color: #77AF69;
  border: 1px solid #77AF69;
}

/*   3D Button    */
.skeomorph-button {
  font-size: 1.0em;
  padding: 0.5em 0.9em;
  border-radius: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #77AF69;
  /* border: 1px solid #77AF69; */
  box-shadow: 0 3px rgba(97,151,101,1);
  color: #ecf0f1;
  transition: all 0.3s ease-out;
}
.skeomorph-button:hover {
  color: #ecf0f1;
  transform: translateY(2px);
  box-shadow: 0 1px rgba(97,151,101,1);
}
.skeomorph-button:active {
  color: #ecf0f1;
  transform: translateY(4px);
  padding-bottom: calc(0.5em - 2px);
  box-shadow: 0 0px rgba(97,151,101,1), 0 -2px rgba(97,151,101,1);
}

/*   3D Button Outline    */
.skeomorph-button-outline {
  font-size: 1.0em;
  padding: 0.5em 0.9em;
  border-radius: 0.3em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #5e5d64;
  box-shadow: 0 3px #5e5d64;
  color: #050620;
  transition: all 0.3s ease-out;
}
.skeomorph-button-outline:hover, .skeomorph-button-outline:focus {
  color: #050620;
  transform: translateY(2px);
  box-shadow: 0 1px #5e5d64;
}
.skeomorph-button-outline:active {
  color: #050620;
  transform: translateY(4px);
  padding-bottom: calc(0.5em - 2px);
  box-shadow: 0 0px #5e5d64, 0 -2px #5e5d64;
}

/*   Flying Book Button Outline    */
.flying-book-button {
  position: relative;
  padding: 0.75rem 1.5rem;
  /* width: 15rem;
  height: 2rem; */

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.9rem;

  border-radius: 0.5rem;
  border: 2px solid #050620;
  color: #050620;
  transition: 0.3s ease;
  transform: translate(-.375rem, -0.375rem);
}
.flying-book-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0.8rem;
  bottom: -0.5rem;
  width: calc(100% - 0.25rem);
  height: calc(100% - 0.25rem);
  border: 2px solid #050620;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 0.5rem;
  transition: 0.3s ease;
}
.flying-book-button:hover::after {
  transform: translate(-.375rem, -0.375rem);
}
.flying-book-button:hover {
  color: #050620;
  transform: translate(0, 0);
}