body {
  background: #ecf0f1;
  color: #050620;
  transition: all 0.3s ease-out;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    ". header   ."
    "main   main     main  ";
  /*"footer footer   footer";*/
  height: 100%;
  width: 100%;
}

.heading {
  grid-area: header;
}
.hero {
  grid-area: main;
}
/* #scrollLog {
  grid-area: side;
} */
/* .scroll-info {
  grid-area: footer;
} */

p, li, a {
  font-size: 18px;
  text-decoration: none;
}

button {
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  border: 1px solid #050620;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 600;
}
button:hover {
  background-color: #ca8888;
  border: 1px solid #ca8888;
}

label {
  margin-left: 20px;
}




.heading {
  margin-top: 0;
}


.hero {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  height: 800px;
}

h3 {
  padding-top: 40px;
  grid-area: 1 / 4 / 2 / 8;
}

.lorem {
  grid-area: 2 / 4 / 4 / 8;
}
.lorem2 {
  grid-area: 5 / 4 / 10 / 8;
}

.controls {
  grid-area: 4/4 / 5/8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border: 10px solid rgba(0,0,0,0.4);
  border-radius: 100%;
  /* transition: all 0.1s linear; */
}
#circle1 {
  grid-row: 4 / 8;
  grid-column: 2 / 6;
}
#circle2 {
  grid-row: 7 / 11;
  grid-column: 7 / 11;
}


.leaf {
  position: relative;
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease-out;
}
#leaf1 {
  background-image: url(../assets/maple-tilted.png);
  grid-row: 4 / 8;
  grid-column: 4 / 8;
}
#leaf2 {
  background-image: url(../assets/maple_yellow.png);
  grid-row: 4 / 8;
  grid-column: 4 / 8;
}
#leaf3 {
  background-image: url(../assets/leaf.png);
  width: 150px;
  height: 150px;
  grid-row: 4 / 8;
  grid-column: 4 / 8;
}
#leaf4 {
  background-image: url(../assets/oak.png);
  width: 250px;
  height: 250px;
  grid-row: 4 / 8;
  grid-column: 4 / 8;
}


















.scroll-info {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#scrollXY {

}
#wheelXY {

}

/* #scrollLog {
  height: calc(100%-20px);
  width: calc(100%-20px);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.5);
  color: black;
  overflow: scroll;
  font-size: 5px;
  column-width: 25px;
  column-count: 6;
  column-fill: auto;
  caret-color: red;
} */
