<html>
	<head>
		<title>Markus Doppler | RadioGroup</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
    <link href="../../snippets.css" rel="stylesheet" />
    <link href="radiobutton.css" rel="stylesheet" />
		<link href="../../assets/peacock-favicon.png" rel="icon">
	</head>
	<body class="snippet">
		<h1>Radio Group</h1>
    <p>Concept from <a href="https://www.youtube.com/watch?v=uCIC2LNt0bk&list=PLNYkxOF6rcICWx0C9LVWWVqvHlYJyqw7g&index=6">a11y casts</a>.</p>

    <radio-group selected="2">
      <radio-button>🍏</radio-button>
      <radio-button>🍓</radio-button>
      <radio-button>🍒</radio-button>
      <radio-button>🍑</radio-button>
      <radio-button>🍋</radio-button>
    </radio-group>

		<script src="radiobutton.js"></script>
		<script src="radiogroup.js"></script>
	</body>
</html>
