<html>
	<head>
		<title>Markus Doppler | Star Rating Snippet</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
    <link href="../../snippets.css" rel="stylesheet" />
    <link href="card.css" rel="stylesheet" />
		<link href="../../assets/peacock-favicon.png" rel="icon">
	</head>
	<body class="snippet">
		<h1>Emoji Cards</h1>

    <emoji-card name="Brokkoli" emoji="🥦"></emoji-card>
    <emoji-card name="Cucumber" emoji="🥒">
      Slot
    </emoji-card>
    <emoji-card name="Fruits" emoji="🥝🍇">
      <div slot="fruit1">Kiwi</div>
      <div slot="fruit2">Grape</div>
    </emoji-card>

		<script src="card.js" type="module"></script>
	</body>
</html>
