<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Modal Sheet</title>

   <!-- Polyfill -->
   <link rel="stylesheet" href="dialog-polyfill.css">
   <script src="dialog-polyfill.js"></script>

   <!-- my scripts -->
   <link rel="stylesheet" href="modal.css">
   <script src="modal.js" defer></script>
</head>
<body>
   <h1>iOS Modal Sheet</h1>

   <button>Create Item</button>

   <dialog>
      hello
      <button>dismiss</button>
   </dialog>
</body>
</html>