<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Draggable</title>
  <link rel="stylesheet" href="draggable.css">
</head>
<body>
  <h1>Draggables</h1>
  <div>
    <h2>Items</h2>
    <div draggable="true" data-kind="veggies-or-fruits" data-match="fruit" class="item"><span>🍏 Apple</span></div>
    <div draggable="true" data-kind="veggies-or-fruits" data-match="fruit" class="item"><span>🍊 Orange</span></div>
    <div draggable="true" data-kind="veggies-or-fruits" data-match="fruit" class="item"><span>🍓 Strawberry</span></div>
    <div draggable="true" data-kind="veggies-or-fruits" data-match="vegetable" class="item"><span>🥕 Carrot</span></div>
    <div draggable="true" data-kind="veggies-or-fruits" data-match="vegetable" class="item"><span>🌶 Chili</span></div>
    <div draggable="true" data-kind="veggies-or-fruits" data-match="vegetable" class="item"><span>🌽 Corn</span></div>
  </div>
  <div>
    <h2>Fruits</h2>
    <div droppable="none" data-kind="veggies-or-fruits" data-match="fruit" class="drop"></div>
    <div droppable="none" data-kind="veggies-or-fruits" data-match="fruit" class="drop"></div>
    <div droppable="none" data-kind="veggies-or-fruits" data-match="fruit" class="drop"></div>
  </div>
  <div>
    <h2>Veggies</h2>
    <div droppable="none" data-kind="veggies-or-fruits" data-match="vegetable" class="drop"></div>
    <div droppable="none" data-kind="veggies-or-fruits" data-match="vegetable" class="drop"></div>
    <div droppable="none" data-kind="veggies-or-fruits" data-match="vegetable" class="drop"></div>
  </div>

  <script src="utility.js" defer></script>
  <script src="draggable.js" defer></script>

</body>
</html>