body {
	background: #050620;
	background: -webkit-radial-gradient(rgba(5,6,32,0.79), rgba(5,6,32,0.91));
  background:    -moz-radial-gradient(rgba(5,6,32,0.79), rgba(5,6,32,0.91));
  background:         radial-gradient(rgba(5,6,32,0.79), rgba(5,6,32,0.91));
	color: #ecf0f1;
}

p, li, a {
  color: #ecf0f1;
  text-decoration: none;
}

a {
	font-weight: 600;
}

.hero {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-colour-strip {
	display: flex;
}
.social-colour-strip .social-button:nth-child(1) {
	background: rgba(255,255,255,0.3);
}
.social-colour-strip .social-button:nth-child(2) {
	background: rgba(255,255,255,0.4);
}
.social-colour-strip .social-button:nth-child(3) {
	background: rgba(255,255,255,0.5);
}
.social-colour-strip .social-button:nth-child(4) {
	background: rgba(255,255,255,0.6);
}
.social-colour-strip .social-button:nth-child(5) {
	background: rgba(255,255,255,0.7);
}
.social-colour-strip .social-button:nth-child(6) {
	background: rgba(255,255,255,0.8);
}


.social-button {
	background: rgba(255,255,255,0.5);
	transition: all 0.3s ease;
	width: 5em;
	/* margin: 0 0.5em; */
}
.social-button:hover {
	color: white;
}

.socialicon {
	font-weight: normal;
	font-style: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
	line-height: 1.8em;
}
.socialicon:before {
	position: relative;
	top: 0.1em;
}

.email {
	font-family: "Socialicon-Plus";
}
.email::before {
	content: 'M';
}

.facebook {
	font-family: "Socialicon";
}
.facebook::before {
	content: 'F';
}

.instagram {
	font-family: "Socialicon-Plus";
}
.instagram::before {
	content: 'I';
}

.twitter {
	font-family: "Socialicon";
}
.twitter::before {
	content: 'L';
}

.github {
	font-family: "Socialicon-Plus";
}
.github::before {
	content: 'Z';
}

.linkedin {
	font-family: "Socialicon";
}
.linkedin::before {
	content: 'I';
}



.github-reference {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 10px;
	font-size: 14px;
}
.fork-me-link {
	padding: 10px;
	background: rgba(0,0,0,0.2);
	transition: all 0.3s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}
.fork-me-link:hover {
	background: rgba(0,0,0,1.0);
}
.fork-me-link-text {
	padding-right: 10px;
}
.fork-me-link-button {
	display: flex;
}
.fork-me-link-button .github {
	line-height: 1em;
	width: 0.75em;
	height: 0.75em;
	background: white;
	color: black;
	border-radius: 100%;
}
.fork-me-link-button .github:before {
	top: 0.24em;
}
