<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Draggable</title>
  <link rel="stylesheet" href="draggable.css">
</head>
<body>
  <h1>Draggable Component</h1>
  <div>
    <h2>Items</h2>
    <drag-item draggable="true" kind="veggies-or-fruits" match="fruit" class="item"><span>🍏 Apple</span></drag-item>
    <drag-item draggable="true" kind="veggies-or-fruits" match="fruit" class="item"><span>🍊 Orange</span></drag-item>
    <drag-item draggable="true" kind="veggies-or-fruits" match="fruit" class="item"><span>🍓 Strawberry</span></drag-item>
    <drag-item draggable="true" kind="veggies-or-fruits" match="vegetable" class="item"><span>🥕 Carrot</span></drag-item>
    <drag-item draggable="true" kind="veggies-or-fruits" match="vegetable" class="item"><span>🌶 Chili</span></drag-item>
    <drag-item draggable="true" kind="veggies-or-fruits" match="vegetable" class="item"><span>🌽 Corn</span></drag-item>
  </div>
  <div>
    <h2>Fruits</h2>
    <drop-box kind="veggies-or-fruits" match="fruit" class="drop"></drop-box>
  </div>
  <div>
    <h2>Veggies</h2>
    <drop-box kind="veggies-or-fruits" match="vegetable" class="drop"></drop-box>
  </div>

  <script src="utility.js" defer></script>
  <script src="draggable.js" defer></script>

</body>
</html>